@using BayReNhat.Models
@{
    ViewBag.Title = "Search";
	ViewBag.TitleBar = "Kết quả tìm kiếm";
}
@section Scripts
{
	@Scripts.Render("~/bundles/jquery")
	@Styles.Render("~/Content/themes/base/css")
	@Scripts.Render("~/bundles/jqx")
	@Styles.Render("~/Content/themes/base/jqx/css")
	<script src="../../Scripts/search.js" type="text/javascript"></script>
	<script src="../../Scripts/jqxbuttons.js" type="text/javascript"></script>
}

<h1>Thông tin tìm kiếm</h1>
<div id="panel_searching">
	<p>Loại vé đặt: <strong>@Model.GetBookingTypeName()</strong></p>
	<p>Điểm đi: <strong>@Model.DepartCity</strong></p>
	<p>Điểm đến: <strong>@Model.ReturnCity</strong></p>
	<p>Ngày đi: <strong>@Model.DepartDay.ToShortDateString()</strong></p>
	@if (Model.BookingType == BookingType.RoundTrip)
	{
		<p>Ngày về: <strong>@Model.ReturnDay.ToShortDateString()</strong></p>	
	}
	<p>Số lượng người lớn: <strong>@Model.NoOfAdult</strong></p>
	<p>Số lượng trẻ em (2-12 tuổi): <strong>@Model.NoOfChildren</strong></p>
	<p>Số lượng trẻ em (dưới 2 tuổi): <strong>@Model.NoOfInfant</strong></p>
</div>

<h1>Kết quả tìm được</h1>
<div id="panel_searched" >
	<p>Đang tìm kiếm</p>
</div>
<script type="text/javascript">
	$(function () {
		searchFlight('@Model.BookingType',
			'@Model.GetDepartCityCode()',
			'@Model.GetReturnCityCode()',
			'@Model.DepartDay.ToShortDateString()',
			'@Model.ReturnDay.ToShortDateString()'
		);
	});
</script>
